[Unit]
Description=RFCOMM service
After=bluetooth.service
Requires=bluetooth.service
 
[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=-/etc/default/gpsd
ExecStart=/usr/bin/rfcomm bind $HCIDEV $MACADDR $CHAN
ExecStop=/usr/bin/rfcomm release $HCIDEV
 
[Install]
WantedBy=network.target
